body{font-family: 'Montserrat', sans-serif;}
#toppage{
    background-image: url('/Assets/topbg.jpg');
    height:750px;
    color: white;
    text-align: center;
    padding-top: 150px;
    position: relative;
    
}
#mouse{
    bottom: 5%;
    position: absolute;
}
.about{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: whitesmoke;
    position: sticky;
}
.services{
    background-image: url('/Assets/middlebg.jpg');
    text-align: center;
    height: 375px;
    color: white;
    padding-top: 5%;
    position: relative;
}
#whatwedo{
    text-align: center;
    padding-top: 2%;
}
#toggleimages{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2%;
    padding-top: 2%;
} 
#development{
    text-align: center;
}
#design{
    text-align: center
}
#product{
    text-align: center;
}
.togglepara{
    display:none ;
}
h6{
    text-align: center;
    padding-top: 2%;
}
#portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left:9%;
    margin-right: 9%;
    padding-top: 2%;
  }
  .col-md-3 > img{
    max-width: 100%;
    max-height: 100%;
}






